<div  >
    <h1 >CineWorld </h1>

<p > Découvrez une sélection variée de films de tous genres et pour tous les goûts. <br> Parcourez notre vaste catalogue 
    comprenant des blockbusters hollywoodiens,<br> des films indépendants, des chefs-d'œuvre du cinéma classique et
     bien d'autres<br> encore.  Obtenez des informations détaillées sur chaque film, des synopsis captivants<br> aux bandes-annonces
     palpitantes,
      en
     passant par les critiques pour vous aider à faire <br> les meilleurs choix.</p><br>
    <p>&copy; FOMEKONG FOSSO EMMANUEL</p>
    <p>NUMERO DE VERSION :5615615615615615615</p>
    
    </div>
